.player1 {
  display: none;
}

.player2 {
  display: none;
}

.playerOneEndTurn {
  display: none;
}

.playerTwoEndTurn {
  display: none;
}

.col-md-6 {
  display: none;
}

.col-md-6 p {
  font-weight: bold;
  /* font-family: 'Permanent Marker', cursive; */
}
.declareWinner {
  display: none;
}

.jumbotron {
  padding-left: 45px;
  padding-right: 45px;
  font-family: 'Permanent Marker', cursive;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

#twoPlayerStart {
  margin-left: 30px;
  margin-top: 20px;
}

#playerOneCurrentRoll {
  margin-top: 20px;
}

#playerTwoCurrentRoll {
  margin-top: 20px;
}
