.player1 {
  display: none;
}

.player2 {
  display: none;
}

.playerOneEndTurn {
  display: none;
}

.playerTwoEndTurn {
  display: none;
}

.computerEndTurn {
  display: none;
}
.col-md-6 {
  display: none;
  text-align: center;
}

.col-md-6 p {
  font-weight: bold;
}


.jumbotron {
  padding-left: 45px;
  padding-right: 45px;
  font-family: 'Permanent Marker', cursive;
  background-color: #FF9983 ;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 80px;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  margin-top: 20px;
}
.card-body {
  height: 600px;
  background-color: #DAECF7;
}
.declareWinner {
  display: none;
  font-family: 'Permanent Marker', cursive;
  background-color: #8AF7A1;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 80px;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}

#final-score {
    font-size: 30px;
}

#twoPlayerStart, #playerVsComputerStart {
  margin-left: 30px;
  margin-top: 20px;
}

.playerOneEndTurn, .playerTwoEndTurn, .computerEndTurn {
  color: red;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

#playerOneCurrentRoll {
  margin-top: 20px;
  text-align: left;
}

#playerTwoCurrentRoll {
  margin-top: 20px;
  text-align: center;
}

#p1-die-1, #p1-die-2, #p1-die-3, #p1-die-4, #p1-die-5, #p1-die-6, #p2-die-1, #p2-die-2, #p2-die-3, #p2-die-4, #p2-die-5, #p2-die-6, #computer-die-2, #computer-die-1, #computer-die-3, #computer-die-4, #computer-die-5, #computer-die-6  {
  display: none;
}

.playerOneDieImg, .playerTwoDieImg, .computerDieImg {
  margin-top: 40px;
}
#smallOneDie {
  height: 25px;
  /* border: solid 1px black;
  border-radius: 7px; */
}

#playAgain {
  font-size: 20px;
}
